<!DOCTYPE html>
<html>
  <head>
    <title>RailsResources</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= render(FlashComponent, key: key, value: value) %>
    <% end %>

    <%= render "/shared/navbar" %>
    <!-- TEMPORARY -->
    <% if user_signed_in? %>
      <%= link_to "Dashboard", dashboard_path %> |
      <%= link_to 'Log Out', sessions_path, method: :delete %>
      Hello <%= current_user&.name %>
    <% else %>
      <%= link_to 'Log In', 'auth/auth0', method: :post %>
    <% end %>
    <!-- ========== -->
    <div class="container mx-auto mt-4 pt-12">
      <%= yield %>
    </div>
  </body>
</html>
